        <div id="nav-main">
			
            <div class="inner">
            	<div style="float: left; height: 50px;">
					 <div style="background-color: #f86d18; color: #FFFFFF; height: 50px; font-weight: bold; font-size: 15px; padding: 10px 10px 1px ; ">
						<div style="float: left; padding-top: 5px; text-align: center; height: 50px;"> <span class="glyphicon glyphicon-search"></span> Ürün Bul  <span class="glyphicon glyphicon-chevron-down"></span></div>
					 </div>
					 <div style="clear: both;"><!-- --></div> 
				</div>
				<div style="float: left; height: 50px; border-left: 1px solid #444444;"><input type="text" class="form-control" placeholder="Ürün Ara ..." style="background-color: #222222; border: 1px solid #222222; height: 50px; width: 240px; color:#f0f0f0;"></div>
				
				<!--<ul><li style="background-color: #222222; border-left:1px solid #444444;"><a href="{webRoot}" style="color: #FFFFFF; height: 50px; padding-top: 7px; border-right: none; border-left: none;"><span class="glyphicon glyphicon-home"></span> Anasayfa</a></li></ul>-->
	                {foreach:blocksMainNav,key,valueObj}
	                   {valueObj.content:h}
	                {end:}
            </div>
        </div>
		<div class="nav-bottom"><!-- --></div>
