        <div id="footer">
        	<div class="inner">
	            {foreach:blocksBottom,key,valueObj}
	                <div class="block {valueObj.body_class}">
	                    <h2><span class="glyphicon glyphicon-{valueObj.title_class}"></span> {valueObj.title}</h2>
	                    <div class="content">
	                        {valueObj.content:h}
	                    </div>
	                </div>
	            {end:}
				<div style="clear: both;"><!-- --></div>
			</div>
        </div><!-- end footer -->
</body>
</html>