<flexy:include src="header.html" />
<div id="wrapper-outer">
<flexy:include src="banner.html" />
<flexy:include src="blocksTop.html" />

        <div id="wrapper-inner">
            <div id="content" class="clearfix">

				<div id="slider">
                    <flexy:include src="blocksSlider.html" />
                </div><!-- end slider -->

                <div id="main">
                    {outputBody()}
                    <hr />
                </div><!-- end main -->

                <div id="sub">
                    <div class="inner">
                        <flexy:include src="blocksRight.html" />
                    </div>
                </div><!-- end sub -->

                <div id="local">
                    <flexy:include src="blocksLeft.html" />
                    <hr />
                </div><!-- end local -->


            </div><!-- end content -->
        </div><!-- end wrapper-inner -->
</div><!-- end wrapper-outer -->
<flexy:include src="footer.html" />