
/**
 * - navigation bar at the top
 * - 1 column (main)
 *
 * @package    themes
 * @subpackage default2
 * @author     Dmitri Lakachauskis <lakiboy83@gmail.com>
 */

<?php include('nav-horizontal.css'); ?>

div#content {
    width: 1000px;
}
div#main {
}
div#sub {
    display: none;
}
div#local {
    display: none;
}
div#nav-main {
    width: 1000px;
}

div#searchBtn{
	float: left; 
	height: 50px;
	cursor: pointer;
}
div.searchBtnInner{
	float: left; 
	padding-top: 5px; 
	text-align: center; 
	background-color: #f86d18; 
	color: #FFFFFF; 
	font-weight: bold; 
	font-size: 15px; 
	padding: 16px 10px 1px ;
	height: 50px;	
} 
div#searchBtnDiv {
	display: none;
	position: absolute;
	width: 1000px;
	background-color: #444444;
	margin-left: 0px;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
	z-index: 100;
	box-shadow: 2px 2px 5px #888888;
	top: 252px;
	color: #f0f0f0;
	padding: 5px;
	height: 1px;
	width: 1px;
}

div#searchTxtDiv {
	display: none;
	position: absolute;
	width: 1000px;
	background-color: #444444;
	margin-left: 0px;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
	z-index: 100;
	box-shadow: 2px 2px 5px #888888;
	top: 252px;
	color: #f0f0f0;
	padding: 5px;
	height: 1px;
	width: 1px;
}

div#btn-inner{
	display: none;
	min-height: 300px;
}

div#btn-inner .cat-lists {
	float: left;
	width: 240px;
	padding: 10px;
	border-right: 1px solid #666666;
	height: 290px;
}

div#btn-inner .cat-lists h5{
	color: rgb(156, 156, 156);
	margin-top: 0px;
	text-align: center;
}

div#searchTxt {
	float: left; 
	height: 50px; 
	border-left: 1px solid #444444;
}

#searchTxtBox {
	background-color: #222222; 
	border: 1px solid #222222; 
	height: 50px; 
	width: 240px; 
	color:#f0f0f0;
}
/*
div#btn-inner .cat-lists ul li {
	display: list-item;
	text-align: -webkit-match-parent;
}

div#btn-inner .cat-lists ul li.sliding-element a{
	display: block;
	width: 150px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
	color: #999;
	background:#222 url(tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}
*/