
/**
 * - horizontal navigation
 *
 * @author     Sina Saderi <sina.sadri@gmail.com>
 */

/* Main navigation */
div#nav-main {
}
    div#nav-main div.inner {
        height: 50px;
        background-color: #222222;
    }

div.nav-bottom {
	background: url(<?php echo $baseUrl ?>/images/bg/nav-shadow.jpg) no-repeat center top;
	height: 29px;
}

/* END main navigation */


/* Toolbar */
div#nav-main div#toolbar {
    border: 1px solid #bbb;
    margin-bottom: 2px;
    padding: 0.6em;
    height: 1.1em;
    font-size: 0.8em;
}
/* END toolbar */