
/**
 * - navigation bar at the top
 * - 1 column (main)
 *
 * @package    themes
 * @subpackage default2
 * @author     Dmitri Lakachauskis <lakiboy83@gmail.com>
 */

<?php include('nav-horizontal.css'); ?>

div#content {
    width: 1000px;
}
div#main {
}
div#sub {
    display: none;
}
div#local {
    display: none;
}
div#nav-main {
    width: 1000px;
}