		<div class="productBox panel panel-info col-lg-3" flexy:foreach="aPagedData[data],key,aValue">
			<div class="proSearchImg">
				{if:aValue[proImgTitle]}
				<a href="{webRoot}/images/products/{aValue[proImgTitle]}"  data-gallery="">
					<img src="{webRoot}/images/products/small/small_{aValue[proImgTitle]}" height="50"/>
				</a>
				{else:}
				<span class="glyphicon glyphicon-camera proImgNotFound"></span>
				{end:}
			</div>
			<div class="proSearchDetail">
				<a href="{makeUrl(#view#,#product#,#product#,aPagedData[data],#frmProductID|product_id#,key)}{aValue[seoTitle]}/">
					{aValue[productTitle]}
				</a>
			</div>
			<div class="proSearchPrice">
				{if:isAuthenticated()}
					<span class="li-title">{translate(#EN USR Price#)} : </span>{aValue[price]} {aValue[curTitle]}
					<br /> 
					<span class="li-title">{translate(#DLR Price#)} : </span>{aValue[dprice]} {aValue[curTitle]}
				{else:}
					<span class="li-title">{translate(#Price#)} : </span>{aValue[price]} {aValue[curTitle]}
				{end:}
			
			</div>
		</div>