		<table class="table-searching">
	    	<thead>
		        <tr>
		            <th>{translate(#ID#)}</th>
					<th>{translate(#Title#)}</th>
					<th>{translate(#Brand#)}</th>
					<th class="center">{translate(#Img#)}</th>
					<!--<th class="center"><span class="glyphicon glyphicon-magnet"></span></th>-->
					{if:isAuthenticated()}
						<th class="center">{translate(#EN USR Price#)}</th>
						<th class="center">{translate(#DLR Price#)}
					{else:}
						<th class="center">{translate(#Price#)}</th>
					{end:}
					<th class="center">{translate(#Model#)}</th>
					<th class="center">{translate(#Currency#)}</th>
					<th class="center">{translate(#Warranty#)}</th>
					<th class="center">KDV</th>
					<th class="center">{translate(#Quantity#)}</th>
					<!--<th class="center">{translate(#Order#)}</th>-->
		        </tr>
			</thead>
			<tbody id="searchResult">
		        <tr flexy:foreach="aPagedData[data],key,aValue">
		            <td nowrap>{aValue[product_id]}</td>
					<td nowrap>
						<a href="{makeUrl(#view#,#product#,#product#,aPagedData[data],#frmProductID|product_id#,key)}{aValue[seoTitle]}/">
							{aValue[productTitle]}
						</a>
					</td>
					<td nowrap>{aValue[brand]}</td>
					<td class="center" nowrap>
						{if:aValue[proImgTitle]}
						<a href="{webRoot}/images/products/{aValue[proImgTitle]}"  data-gallery="">
							<span style="font-size:15px;" class="glyphicon glyphicon-camera"></span>
						</a>
						{else:}
							<span style="color: rgb(214, 26, 0);" class="glyphicon glyphicon-ban-circle"></span>
						{end:}
					</td>
					<!--<td class="center" nowrap>
						<input type="checkbox" name="compare" value="{aValue[product_id]}"/>
					</td>-->
					<td class="center" nowrap>{aValue[price]}</td>
					{if:isAuthenticated()}
						<td class="center" nowrap>{aValue[dprice]}</td>
					{end:}
					<td class="center" nowrap>{aValue[model]}</td>
					<td class="center" nowrap>{aValue[curTitle]}</td>
					<td class="center" nowrap>{aValue[warranty]}</td>
					<td class="center" nowrap>18</td>
					<td class="center" nowrap>{aValue[quantity]}</td>
					<!--<td class="center" nowrap><input type="text" name="orderCount" size="2"/></td>-->
		        </tr>
			</tbody>
	    </table>
