<div class="panel panel-info" style="margin: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title">{translate(pageTitle)}</h3>
  </div>
  
	<form method="post" action=""  flexy:ignore class="form-horizontal" id="form-group">
		<div class="topbtns">
			<a  class="btn btn-primary" href="javascript:formSubmit('frmOrgEdit','submitted',1,1);"><span class="glyphicon glyphicon-ok"></span> {translate(#Save#)}</a>
			<a class="btn btn-info" href="{makeUrl(##,#org#,#user#)}"><span class="glyphicon glyphicon-remove"></span> {translate(#Cancel#)}</a>
		</div>
	    {msgGet()}
	    {if:isAdd}
	    <input type="hidden" name="action" value="insert" />
	    {else:}
	    <input type="hidden" name="action" value="update" />
	    <input type="hidden" name="org[organisation_id]" value="{org.organisation_id}" /> 
	    <input type="hidden" name="org[order_id]" value="{org.order_id}" />
	    <input type="hidden" name="org[original_parent_id]" value="{org.parent_id}" />
	    {end:}
		
		<h3 flexy:if="isAdd">{translate(#New organisation#)}</h3>
	    <h3 flexy:if="!isAdd">{translate(#Edit organisation#)}</h3>
		<fieldset class="inside">
            <h4>{translate(#Company Details#)}</h4>
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Name#)}: <span class="required">*</span></label>
			  <div class="col-lg-7">
				<input type="text" class="validate[required] form-control input-sm" name="org[name]" id="org[name]" value="{org.name}" placeholder="{translate(#Name#)}" data-prompt-position="topLeft:+10"/>
			  </div>
		    </div>
			
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Short Name#)}: </label>
			  <div class="col-lg-7">
				<input type="text" class="form-control input-sm" name="org[name_summ]" id="org[name_summ]" value="{org.name_summ}" placeholder="{translate(#Short Name#)}"/>
			  </div>
		    </div>
			
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Manager#)}:  <span class="required">*</span></label>
			  <div class="col-lg-7">
				<input type="text" class="validate[required] form-control input-sm" name="org[manager]" id="org[manager]" value="{org.manager}" placeholder="{translate(#Manager#)}"/>
			  </div>
		    </div>
			
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Tax office#)}: </label>
			  <div class="col-lg-7">
				<input type="text" class="form-control input-sm" name="org[tax_office]" id="org[tax_office]" value="{org.tax_office}" placeholder="{translate(#Tax office#)}"/>
			  </div>
		    </div>
			
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Tax number#)}: </label>
			  <div class="col-lg-7">
				<input type="text" class="form-control input-sm" name="org[tax_number]" id="org[tax_number]" value="{org.tax_number}" placeholder="{translate(#Tax number#)}"/>
			  </div>
		    </div>
			
			<div class="form-group">
		      <label class="col-lg-2 control-label">{translate(#Description#)}: </label>
			  <div class="col-lg-7">
				<textarea class="form-control input-sm" rows="3" name="org[description]">{org.description}</textarea>
			  </div>
		    </div>
			<!--
			<div class="form-group">
                <label class="col-lg-2 control-label">{translate(#Default Role#)}</label>
				<div class="col-lg-7">
	                <select name="org[role_id]" id="org[role_id]">
	                    {generateSelect(aRoles,org.role_id):h}
	                </select>
				</div>
            </div>
			{if:conf[OrgMgr][typeEnabled]}
	        <div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Type#)}: </label>
				<div class="col-lg-7">
	                <select class="form-control input-sm" name="org[organisation_type_id]" id="org[organisation_type_id]">
	                    {generateSelect(aOrgTypes,currentOrgType):h}
	                </select>
				</div>
	        </div>
	        {end:}
			-->	
		</fieldset>
		
		<fieldset class="inside">
            <h3>{translate(#Contact#)}</h3>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Telephone 1#)}: <span class="required">*</span></label>
	            <div class="col-lg-7">
	            	<input type="text" class="validate[required] form-control input-sm" name="org[telephone]" id="org[telephone]" value="{org.telephone}" placeholder="{translate(#Telephone 1#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Telephone 2#)}:</label>
	            <div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[telephone2]" id="org[telephone2]" value="{org.telephone2}" placeholder="{translate(#Telephone 2#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Telephone 3#)}:</label>
	            <div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[telephone3]" id="org[telephone3]" value="{org.telephone3}" placeholder="{translate(#Telephone 3#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Fax#)}:</label>
	            <div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[fax]" id="org[fax]" value="{org.fax}" placeholder="{translate(#fax#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Email#)}: <span class="required">*</span></label>
	            <div class="col-lg-7">
	            	<input type="text" class="validate[required,custom[email]] form-control input-sm" name="org[email]" id="org[email]" value="{org.email}" placeholder="{translate(#Email#)}" data-prompt-position="topLeft:+10"/>
				</div>
	        </div>	
	        <div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Website#)}:</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[website]" id="org[website]" value="{org.website}" placeholder="{translate(#Website#)}" data-prompt-position="topLeft:+10" />
				</div>
	        </div>
		</fieldset>
		<fieldset class="inside">
            <h3>{translate(#Location#)}</h3>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Country#)}:</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[country]" id="org[country]" value="{org.country}" placeholder="{translate(#Country#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#City#)}:</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[city]" id="org[city]" value="{org.city}" placeholder="{translate(#City#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Region#)}:</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[region]" id="org[region]" value="{org.region}" placeholder="{translate(#Region#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Address#)}</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[address]" id="org[address]" value="{org.address}" placeholder="{translate(#Address#)}" />
				</div>
	        </div>
			<div class="form-group">
	            <label class="col-lg-2 control-label">{translate(#Post code#)}:</label>
				<div class="col-lg-7">
	            	<input type="text" class="form-control input-sm" name="org[post_code]" id="org[post_code]" value="{org.post_code}" placeholder="{translate(#Post code#)}" />
				</div>
	        </div>
		</fieldset>
		
	</form>
	
</div>