<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">{translate(pageTitle)}</h2>
  </div>
  <div class="topbtns">
	  <a type="button" href="{makeUrl(#add#,#org#,#user#)}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {translate(#New organisation#)}</a>
	  {if:conf[OrgMgr][typeEnabled]}
	  <a type="button" href="{makeUrl(#add#,#orgtype#,#user#)}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {translate(#New organisation type#)}</a>
	  {end:}
  </div>

{msgGet()}

    {if:results}
    <form method="post" action="" id="organisations" flexy:ignore>
        <h3>{translate(#Organisation list#)}</h3>
            <input type="hidden" name="action" value="delete" />
			{if:pager}<flexy:include src="admin_pager_table.html" />{end:}	
            <table class="table table-bordered selectable">
                <thead>
                    <tr>
                        <th width="3%">
                            <span class="tipOwner">
                                <input type="checkbox" name="checkAll" id="checkAll" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="{translate(#Be Careful!#)}" onclick="javascript:applyToAllCheckboxes('organisations', 'frmDelete[]', this.checked)" />
                            </span>
                        </th>
                        <th width="3%"><a style="color: #555555;" href="{makeUrl(##,#org#,#user#,##,#frmSortBy|id||frmSortOrder|sortOrder#)}">{translate(#ID#)}</a></th>
                        <th width="24%" class="left"><a style="color: #555555;" href="{makeUrl(##,#org#,#user#,##,#frmSortBy|name||frmSortOrder|sortOrder#)}">{translate(#Name#)}</a></th>
                        <th width="10%">{translate(#Role#)}</th>
                        {if:conf[OrgMgr][typeEnabled]}
                        <th width="10%">{translate(#Type#)}</th>
                        {end:}
                        <th width="15%" class="left">{translate(#Website#)}</th>
                        <th width="15%" class="left">{translate(#Telephone#)}</th>
                        <th width="10%">{translate(#Action#)}</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr class="{switchRowClass()}" flexy:foreach="results,k,org">
                        <td><input type="checkbox" name="frmDelete[]" value="{org[organisation_id]}" /></td>
                        <td>1000{org[organisation_id]}</td>
                        <td class="left"><a href="{makeUrl(#edit#,#org#,#user#,results,#frmOrgId|organisation_id#,k)}">{org[name]}</a></td>
                        <td>{org[role_id]}</td>
                        {if:conf[OrgMgr][typeEnabled]}
                        <td>{org[organisation_type_id]}</td>
                        {end:}
                        <td class="left">{org[website]}</td>
                        <td class="left">{org[telephone]}</td>
                        <td>
							<a href="{makeUrl(#edit#,#org#,#user#,results,#frmOrgId|organisation_id#,k)}" />
			                <span class="glyphicon glyphicon-edit"></span> {translate(#Edit#)}
			            </a> 
                        </td>
                    </tr>
                </tbody>
            </table>
			{if:pager}<flexy:include src="admin_pager_table.html" />{end:}
			<button type="submit" class="btn btn-danger" name="Delete" onclick="return confirmSubmit('{translate(#organisation#)}', 'orgs')" /><span class="glyphicon glyphicon-trash"></span> {translate(#delete selected#)} </button>
    </form>
    {else:}
    {translate(#No organisations found#)}
    {end:}
</div>
