<div class="panel panel-info" style="margin: 10px;">
	<div class="container">
		<form method="post" id="userPasswordReset" flexy:ignore>
			<input type="hidden" name="frmUserID" value="{user.usr_id}" />
            <input type="hidden" name="action" value="resetPassword" />
		
			<div class="topbtns">
				<a href="javascript:formSubmit('userPasswordReset');">
					<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-refresh"></span> {translate(#Reset password now#)}
					</button>
				</a>
			    <a type="button" href="{makeUrl(##,#user#,#user#)}">
			    	<button type="button" class="btn btn-primary">
			    		<span class="glyphicon glyphicon-remove"></span> {translate(#Cancel#)}
					</button>
				</a>
			</div>
			
			{msgGet()}
			
			<div class="message">
		        <div class="warningMessage">{translate(#Reset password info#)}</div>
		    </div>

			<div class="form-group">
				<label class="col-lg-3 control-label">{translate(#Resetting password for#)}</label>
				<div class="col-lg-9">
	      			<span>{user.username}</span>
				</div>
	    	</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">{translate(#Notify user#)} </label>
				<div class="col-lg-9">
	      			<input type="checkbox" id="frmPasswdResetNotify" name="frmPasswdResetNotify"/>
				</div>
	    	</div>
            
    </form>
</div>