<div class="panel panel-info" style="margin: 10px;">
  	<div class="container">
  		<div class="topbtns">
			<a type="button" href="{makeUrl(#add#,#register#,#user#)}" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span> {translate(#New User#)}
			</a>
		</div>
		{msgGet()}
		
	    <form name="users" method="post" flexy:ignore id="users" action="{makeUrl(##,#user#,##)}">
	        <table class="table table-bordered selectable">
	            <thead>
	                <tr class="infos">
	                    <td class="left" colspan="3">
	                        {totalItems} {translate(#user(s) found#)}
	                        <a class="clearSearch" href="{makeUrl(#search#,#usersearch#,#user#,##,#frmSortBy|sortBy||frmSortOrder|sortOrder#)}" flexy:if="search">{translate(#clear search#)}</a>
	                    </td>
	                    <td class="right" colspan="8">
	                    {if:pager}<flexy:include src="admin_pager_table.html" />{end:}
	                    </td>
	                </tr>
	                <tr>
	                    <th width="3%">
	                        <span class="tipOwner">
	                            <span class="tipText" id="becareful">{translate(#Be Careful!#)}</span>
	                            <input type="checkbox" name="checkAll" id="checkAll" onclick="javascript:applyToAllCheckboxes('users', 'frmDelete[]', this.checked)" />
	                        </span>
	                    </th>
	                    <th width="3%">{translate(#ID#)}</th>
	                    <th width="10%" class="left">{translate(#Username#)}</th>
	                    {if:conf[OrgMgr][enabled]}
	                    <th width="10%">{translate(#Organisation#)}</th>
	                    {end:}
	                    <th width="18%" class="left">{translate(#Email#)}</th>
	                    <th width="5%">{translate(#Role#)}</th>
	                    <th width="7%">{translate(#Status#)}</th>
	                    <th width="12%">{translate(#Password#)}</th>
	                    <th width="12%">{translate(#Permissions#)}</th>
	                    <th width="10%">{translate(#Logins#)}</th>
	                </tr>
	            </thead>
	            <tfoot>
	                <tr class="infos">
	                    <td class="right" colspan="10">
	                        {if:pager}<flexy:include src="admin_pager_table.html" />{end:}
	                    </td>
	                </tr>
	            </tfoot>
	            <tbody>
	                <tr class="{switchRowClass()}" flexy:foreach="aPagedData[data],key,aValue">
	                    <td><input type="checkbox" name="frmDelete[]" value="{aValue[usr_id]}" /></td>
	                    <td>{aValue[usr_id]}</td>
	                    <td class="left"><a href="{makeUrl(#edit#,#user#,##,aPagedData[data],#frmUserID|usr_id#,key)}">{aValue[username]}</a></td>
	                    {if:conf[OrgMgr][enabled]}
	                    <td>{aValue[org_name]}</td>
	                    {end:}
	                    <td class="left">{aValue[email]}</td>
	                    <td>{aValue[role_name]}</td>
	                    <td class="center">
	                        {if:aValue[is_acct_active]}
							<img src="{webRoot}/themes/{theme}/images/icons/status_enabled.gif" alt="{translate(#Active#)}" title="{translate(#Change status#)}" /> 
	                        {else:} 
                        	<img src="{webRoot}/themes/{theme}/images/icons/status_disabled.gif" alt="{translate(#Disabled#)}" title="{translate(#Change status#)}" />
	                        {end:}
	                    </td>
	                    <td class="center">
	                        <button type="button" class="btn btn-info btn-xs" name="frmReset"
	                            onclick="javascript:document.location.href='{makeUrl(#requestPasswordReset#,#user#,##,aPagedData[data],#frmUserID|usr_id#,key)}'">
                            	<span class="glyphicon glyphicon-refresh"></span>
								{translate(#reset#)}
							</button>
	                    </td>
	                    <td class="center" flexy:if="!isAdmin(aValue[role_id])">
	                        <button type="button" class="btn btn-info btn-xs" name="frmReset"
	                            onClick="javascript:document.location.href='{makeUrl(#editPerms#,#user#,##,aPagedData[data],#frmUserID|usr_id#,key)}'" />
								<span class="glyphicon glyphicon-cog"></span>
								{translate(#change#)}
							</button>
	                    </td>
	                    <td class="center" flexy:if="isAdmin(aValue[role_id])">&nbsp;</td>
	                    <td class="center"><a href="{makeUrl(#viewLogin#,#user#,##,aPagedData[data],#frmUserID|usr_id#,key)}">{translate(#list#)}</a></td>
	                </tr>
	                <tr flexy:if="!aPagedData[data]">
	                    <td colspan="10">{translate(#No users found#)}</td>
	                </tr>
	            </tbody>
	        </table>
			<div>
				<button type="submit" class="btn btn-danger" name="delete"
						onclick="return confirmSubmit('{translate(#user#)}', 'users')">
					<span class="glyphicon glyphicon-trash"></span> {translate(#delete selected#)}
				</button>
			</div>
	    </form>
	</div>
</div>