        <div id="header">
        	<div class="logo">
	        	<a href="{webRoot}">
	        		<img src="{webRoot}/themes/{theme}/images/logo.png" alt="{conf[site][name]}" />
				</a>
			</div>
			<div class="right-btn">
				<div style="float: left; font-size: 30px; color: #323232; padding: 28px 0 0 18px;">
					<span class="glyphicon glyphicon-list"></span>
				</div>
				<div style="float: right; font-family: 'Allerta', sans-serif; font-size: 35px; text-align: center; color: #6e7a8a; padding: 13px 4px; line-height: 33px;">
					Ürün <br /> Grupları <br /> <span class="glyphicon glyphicon-chevron-down"></span>
				</div>
			</div>
			
			<div class="left-btn">
				<div style="float: left; font-size: 30px; color: #FFFFFF; padding: 28px 0 0 18px;">
					<span class="glyphicon glyphicon-tags"></span>
				</div>
				<div style="float: right; font-family: 'Allerta', sans-serif; font-size: 35px; text-align: center; color: #f5ca36; padding: 20px 20px;">
					Marka <br /> <span class="glyphicon glyphicon-chevron-down"></span>
				</div>
			</div>
			<div style="clear: both;"><!-- --></div>
        </div><!-- end header -->
