        <div id="nav-main">
			
            <div class="inner">
            	<div id="searchBtn">
					<div class="searchBtnInner"> <span class="glyphicon glyphicon-search"></span> Ürün Bul  <span id="searchBtnGly" class="glyphicon glyphicon-chevron-down"></span></div>
					 <div style="clear: both;"><!-- --></div> 
				</div>
				<div style="float: left; height: 50px; border-left: 1px solid #444444;"><input type="text" class="form-control" placeholder="Ürün Ara ..." style="background-color: #222222; border: 1px solid #222222; height: 50px; width: 240px; color:#f0f0f0;"></div>
				
				<!--<ul><li style="background-color: #222222; border-left:1px solid #444444;"><a href="{webRoot}" style="color: #FFFFFF; height: 50px; padding-top: 7px; border-right: none; border-left: none;"><span class="glyphicon glyphicon-home"></span> Anasayfa</a></li></ul>-->
	                {foreach:blocksMainNav,key,valueObj}
	                   {valueObj.content:h}
	                {end:}
            </div>
        </div>
		<div class="nav-bottom"><!-- --></div>
		<div id="searchBtnDiv">
			<div id="btn-inner">
				<div class="cat-lists cat-list-1">
					
				</div>
				<div class="cat-lists cat-list-2">
					
				</div>
				<div class="cat-lists cat-list-3">
					
				</div>
				<div class="cat-lists cat-list-4" style="border-right: none;">
					
				</div>
			</div>
		</div>
		
