<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">{translate(pageTitle)}</h2>
  </div>
  <form id="form-group" method="post" action="" flexy:ignore>
   <fieldset class="hide">
        <input id="usernameWrongFormatMsg" type="hidden"
               name="usernameWrongFormatMsg"
               value="{translate(#username min length#)}" />
        <input id="ajaxProviderIsUniqueUsernameUrl" type="hidden"
               name="usernameWrongFormatMsg"
               value="{makeUrl(#isUniqueUsername#,##,#user#)}" />
    {if:isAdd}
        <input type="hidden" name="action"value="insert" />
        {if:redir}
        <input type="hidden" name="redir" value="{redir}" />
        {end:}
    {else:}
        <input type="hidden" name="action" value="update" />
        <input type="hidden" name="user[usr_id]" value="{user.usr_id}" />
        <input type="hidden" name="user[role_id_orig]" value="{user.role_id}" />
        <input type="hidden" name="user[organisation_id_orig]"
               value="{user.organisation_id}" />
        <input type="hidden" name="user[username_orig]"
               value="{user.username_orig}" />
        <input type="hidden" name="user[email_orig]"
               value="{user.email_orig}" />
    {end:}
    </fieldset>
	
	<fieldset class="inside" style="padding-left: 10px;">
		<h4>{translate(#Personal Details#)}</h4>
		<div class="form-group">
	      <label class="col-lg-3 control-label">{translate(#Username#)}: <span class="required">*</span></label>
		  <div class="col-lg-7">
		  	<span id="username_error"></span>
			<input type="text" class="validate[required] form-control input-sm" name="user[username]" id="username" value="{user.username}" placeholder="{translate(#Username#)}" data-prompt-position="topLeft:+10"/>
		  </div>
	    </div>
		{if:isAdd}
		<div class="form-group">
	      <label class="col-lg-3 control-label">{translate(#Password#)}: <span class="required">*</span></label>
		  <div class="col-lg-7">
			<input type="password" class="validate[required] form-control input-sm" name="user[passwd]" id="user[passwd]" value="{user.passwd}" placeholder="{translate(#Password#)}" data-prompt-position="topLeft:+10"/>
		  </div>
	    </div>
		
		<div class="form-group">
	      <label class="col-lg-3 control-label">{translate(#Confirm Password#)}: <span class="required">*</span></label>
		  <div class="col-lg-7">
			<input type="password" class="validate[required] form-control input-sm" name="user[password_confirm]" id="user[password_confirm]" value="{user.password_confirm}" placeholder="{translate(#Confirm Password#)}" data-prompt-position="topLeft:+10"/>
		  </div>
	    </div>
		{end:}
		{if:isAdmin()} 
		<div class="form-group">
			<label class="col-lg-3 control-label">{translate(#Organisation#)}:</label> 
			<div class="col-lg-7">
				<select id="user_organisation_id" class="form-control input-sm" name="user[organisation_id]">
					{generateSelect(aOrgs,user.organisation_id):h}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">{translate(#Category#)}:</label> 
			<div class="col-lg-7">
				<select id="category_id" class="form-control input-sm" name="user[categories][]" multiple="multiple">
					{generateSelect(aCats,user.categories,1):h}
				</select>
			</div>
		</div>
		{end:}
		
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#First Name#)}:</label>
            <div class="col-lg-7">
                <input type="text"
                       name="user[first_name]" class="form-control input-sm" value="{user.first_name}" placeholder="{translate(#First Name#)}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Last Name#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[last_name]" value="{user.last_name}" placeholder="{translate(#Last Name#)}" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Birth date#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[birth_date]" id="birth_date" value="{user.birth_date}" placeholder="{translate(#birth_date#)}" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Birth place#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[birth_place]" value="{user.birth_place}" placeholder="{translate(#Birth place#)}" />
            </div>
        </div>
		<div class="form-group">
		  <label class="col-lg-3 control-label" style="margin-right: 15px;">{translate(#Gender#,#ucfirst#)}: </label>
		  <div class="col-lg-7 make-switch switch-small" data-on-label="{translate(#Female#)}" data-off-label="{translate(#Male#)}" style="height: 24px; padding-right: 0px; padding-left: 0px; width: 120px;">
		  	<input type="checkbox" class="form-control" name="user[gender]" flexy:raw="{isMale}"  style="height: 14px;" />
		  </div>
		</div>
	</fieldset>
	
	<fieldset class="inside" style="padding-left: 10px;">
		<h4>{translate(#Organisation#)}</h4>
		{if:isAdmin}
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Company name#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[org_name]" value="{user.org_name}" placeholder="{translate(#Company name#)}" />
            </div>
        </div>
		{end:}
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Position#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[position]" value="{user.position}" placeholder="{translate(#Position#)}" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Branch#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[branch]" value="{user.branch}" placeholder="{translate(#Branch#)}" />
            </div>
        </div>
		
	</fieldset>
	
	<fieldset class="inside" style="padding-left: 10px;">
		<h4>{translate(#Contact#)}</h4>
		
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Email#)}: <span class="required">*</span></label>
            <div class="col-lg-7">
                <input class="validate[required,custom[email]] form-control input-sm" type="text"
                       name="user[email]" value="{user.email}" placeholder="{translate(#Email#)}"  data-prompt-position="topLeft:+10"/>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Telephone#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[telephone]" value="{user.telephone}" placeholder="{translate(#Telephone#)}" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Local phone#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[localphone]" value="{user.localphone}" placeholder="{translate(#Local phone#)}" />
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3 control-label">{translate(#Mobile#)}:</label>
            <div class="col-lg-7">
                <input class="form-control input-sm" type="text"
                       name="user[mobile]" value="{user.mobile}" placeholder="{translate(#Mobile#)}" />
            </div>
        </div>
	</fieldset>
	
	{if:isAdmin()} 
	<fieldset class="inside" style="padding-left: 10px;">
		<h4>{translate(#Manage#)}</h4>
			<div class="form-group">
				<label class="col-lg-3 control-label">{translate(#Role#)}</label> 
				<div class="col-lg-7">
					<select class="form-control input-sm" name="user[role_id]">
						{generateSelect(aRoles,user.role_id):h}
					</select>
				</div>
			</div>

			<div class="form-group">
			  <label class="col-lg-3 control-label" style="margin-right: 15px;">{translate(#Is Active?#,#ucfirst#)}: </label>
			  <div class="col-lg-7 make-switch switch-small" data-on-label="{translate(#Active#)}" data-off-label="{translate(#Inactive#)}" style="height: 24px; padding-right: 0px; padding-left: 0px; width: 120px;">
			  	<input type="checkbox" class="form-control" name="user[is_acct_active]" flexy:raw="{isAcctActive}"  style="height: 14px;" />
			  </div>
			</div>
		</fieldset>
	{end:}
	
	<div class="form-group" style="padding-left: 10px;">
		{if:isAdd}
	        <input class="submit" type="submit" name="submitted" class="btn btn-primary"
	               value="{translate(#Register#)}" />
	    {else:}
	        <input class="submit" type="submit" name="submitted" class="btn btn-primary"
	               value="{translate(#Save#)}" />
	        <input class="button" type="button" name="cancelled" class="btn btn-primary"
	               value="{translate(#Cancel#)}"
	               onclick="document.location.href='{makeUrl(#summary#,#account#,#user#)}'" />
	    {end:}
	</div>
	</form>
	
</div>	
<script src="{webRoot}/js/jquery/plugins/ui/ui.datepicker-tr.js"></script>
<script>
	
	$(function() {
		/*
		$("#username").blur(function(){
			usrname = $(this).val();
			$url = makeUrl({module: "user", manager: "user", action: "isUniqueUsername"});
			console.log($url);
			$.ajax({
		        url: $url,
		        type: 'POST',
				cache: false,
				data: {username: usrname},
				success: function(data){
					alert(data);
		        }
			});

		});
		*/
		$( "#birth_date" ).datepicker({
			showAnim: "slideDown",
			changeMonth: true,
      		changeYear: true,
			dateFormat: "dd.mm.yy",
			yearRange: "-60:+0",
		});
		$( "#datepicker" ).datepicker( $.datepicker.regional[ "tr" ] );
		$("#category_id").chosen();
		
	});
</script>


