<h1>{product.title}</h1>
{msgGet()}
<div class="container">
	<div class="row">
	<div class="col-lg-7">
		<div class="panel panel-info pView pDetail">
			<p>
				<b>{translate(#Category#)} : </b>{cats.categoryCat} > {cats.groupCat} > {cats.propCat}<br />
				<b>{translate(#Brand#)} : </b>{cats.brandTitle}<br />
				<b>{translate(#Price#)} : </b>{cats.symbol_left} {cats.price} {cats.symbol_right}<br />
				<b>{translate(#Description#)} : </b>{cats.description}<br />
			</p>
		</div>
		
		<div class="panel panel-info pViewDetails">
			<ul class="pOptions">
				{foreach:searchFields,key,value}
				<li>
					<span class="glyphicon glyphicon-ok"></span>
					<b> {value[title]} : </b>
					<i flexy:foreach="value[value],k,v">{v},</i><br />
				</li>
				{end:}
			</ul>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="panel panel-info pImage">
			<div class="bigImage">
				<img src="{webRoot}/images/products/{proImages[0][proImgTitle]}" width="100%"/>
			</div>
			<div class="pThumbImgs">
				<div class="col-lg-3 pThumbImg" flexy:foreach="proImages,key,value">
					<a href="{webRoot}/images/products/{value[proImgTitle]}"  data-gallery="">
						<img src="{webRoot}/images/products/{value[proImgTitle]}" width="100%"/>
					</a>
				</div>
			</div>
			<div class="clearfix"><!-- clear and fix --></div>
		</div>
	</div>
	</div>
	<div class="row productBuyBtn">
		<a href="{makeUrl(#insert#,#basket#,#product#)}productId/{cats.product_id}" class="btn btn-primary"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp; {translate(#Add to basket#)}</a>
	</div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-default next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
