<div class="panel panel-info" style="margin: 10px;">
	{msgGet()}
	<div class="container">
		<h1>{product.title}</h1>
		<div class="panel panel-info pDetail" style="margin: 10px;">
			<p>
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
			</p>
		</div>
		
		<div class="panel panel-info pOptions" style="margin: 10px;">
			<p>
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b> : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
				<b>{translate(#Product Model#)} : </b>{product.model}
			</p>
		</div>
	</div>
</div>
