<h1>{product.title}</h1>
{msgGet()}
<div class="container">
	<div class="panel panel-info pView pDetail">
		<p>
			<b>{translate(#Category#)} : </b>{product.category} {product.group} {product.option}<br />
			<b>{translate(#Brand#)} : </b>{product.brand}<br />
			<b>{translate(#Price#)} : </b>{product.curLeft} {product.price} {product.curRight}<br />
			<b>{translate(#Description#)} : </b>{product.description}<br />
		</p>
	</div>
	
	<div class="panel panel-info pView pOptions">
		<p>
			{foreach:pOptions,key,value}
			<span class="glyphicon glyphicon-ok"></span><b> {value[title]} : </b><i flexy:foreach="value[value],k,v">{v},</i><br />
			{end:}
		</p>
	</div>
</div>
