		<table class="table">
	    	<thead>
		        <tr>
		            <th>{translate(#ID#)}</th>
					<th>{translate(#Title#)}({totalItems}){translate(#No.#)}</th>
					<th class="center">{translate(#Img#)}</th>
					<th class="center"><span class="glyphicon glyphicon-magnet"></span></th>
					<th class="center">{translate(#Price#)}</th>
					<th class="center">{translate(#Branch#)}</th>
					<th class="center">{translate(#Currency#)}</th>
					<th class="center">{translate(#Tax#)}</th>
					<th class="center">{translate(#Quantity#)}</th>
					<th class="center">{translate(#Post#)}</th>
					<th class="center">{translate(#Order#)}</th>
		        </tr>
			</thead>
			<tbody>
		        <tr flexy:foreach="products,key,aValue">
		            <td nowrap>{aValue[product_id]}</td>
					<td nowrap>
						<a href="{makeUrl(#view#,#product#,#product#,products,#frmProductID|product_id#,key)}">
							{aValue[title]}
						</a>
					</td>
					<td class="center" nowrap>
						{if:aValue[proImgTitle]}
						<a href="{webRoot}/images/products/{aValue[proImgTitle]}"  data-gallery="">
							<span class="glyphicon glyphicon-camera"></span>
						</a>
						{else:}
						<span class="glyphicon glyphicon-ban-circle"></span>
						{end:}
					</td>
					<td class="center" nowrap>
						<input type="checkbox" name="compare" value="{aValue[product_id]}"/>
					</td>
					<td class="center" nowrap>{aValue[price]}</td>
					<td class="center" nowrap>{aValue[price]}</td>
					<td class="center" nowrap>{aValue[currency_id]}</td>
					<td class="center" nowrap>{aValue[tax]}</td>
					<td class="center" nowrap>{aValue[quantity]}</td>
					<td class="center" nowrap>{aValue[quantity]}</td>
					<td class="center" nowrap><input type="text" name="orderCount" size="2"/></td>
		        </tr>
			</tbody>
	    </table>
